.wrapper {
  display: flex;
}

.side_bar{
  background-color: #253141;
  width: 300px;
  height: 100vh;
}

.main_chat{
  background-color: #ffffff;
  width: calc(100% - 300px);
}

.side_bar_header{
  height: 100px;
  padding: 0 20px ;
  background-color: #253141;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user_name a{
  color: #FAFAFA;
  font-size: 16px;
  text-decoration: none;
}

.new_chat{
  font-size: 10px;
}

.new_chat a{
  border: 1px solid lightblue;
  color: deepskyblue;
  padding: 14px;
  text-decoration: none;
}

.rooms{
  background-color: #2f3e51;
  padding: 0 20px ;
  height: calc(100vh - 100px);
  overflow: scroll;
}

.room{
  padding: 20px 0 40px;
}

.chat_room a{
  color: white;
  text-decoration: none;
}

.title_area{
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.room_name{
  font-size: 24px;
  color: #333;
  margin-top: 36px;
}

.close_chat{
  margin-top: 40px;
}

.close_chat a{
  color: darkred;
  text-decoration: none;
  border: 1px solid darkred;
  padding: 20px;
}

.message_area{
  background-color: #FAFAFA;
  height: calc(100vh - 100px - 90px );
  padding: 46px 40px 0;
  overflow: scroll;
}

.message{
  padding: 10px 0;
}

.upper_message{
  display: flex;
}

.m_user{
  font-size: 16px;
  color: #434a54;
}

.m_time{
  padding-left: 10px;
  font-size: 12px;
  color: #999;
}

.lower_message{
  margin-top: 10px;
}

.m_content{
  color: #434a54;
  font-size: 14px;
  margin-bottom: 40px;
}

.input_area{
  background-color: #dddddd;
  height: 90px;
  padding: 20px 40px ;
  display: flex;
}

.form-input{
  background-color: white;
  width: 100%;
  display: flex;
}

.form-message{
  padding-left: 10px;
  height: 50px;
  border: none;
  width: 100%;
}

.form-submit{
  background-color: #38AEF0;
  border: none;
  color: white;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}