.wrapper {
  display: flex;
}

.side_bar{
  background-color: #253141;
  width: 300px;
  height: 100vh;
}

.main_chat{
  background-color: #ffffff;
  width: calc(100% - 300px);
}

.side_bar_header{
  height: 100px;
  padding: 0 20px ;
}

.rooms{
  background-color: #2f3e51;
  padding: 0 20px ;
}

.title_area{
  height: 100px;
  padding: 0 40px;
}

.message_area{
  background-color: #FAFAFA;
  height: calc(100vh - 100px - 90px );
  padding: 46px 40px 0;
}

.input_area{
  background-color: #dddddd;
  height: 90px;
  padding: 20px 40px ;
}